.photo-card {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(210, 209, 209);
  background-size: cover;
  background-position: center;
}

.no-items-message {
  font-size: 16px;
  color: var(--card-subtitle);
  text-align: center;
  margin-top: 10px;
}
