<div>
  <h2>Favoritos</h2>

  <ng-container *ngIf="filteredFavoriteCards.length > 0 || filteredFavoriteSets.length > 0; else noFavorites">
    <h3 *ngIf="filteredFavoriteCards.length > 0">Cards</h3>
    <div class="mt-3" *ngFor="let card of filteredFavoriteCards">
      <app-cards [data]="card"></app-cards>
    </div>

    <h3 *ngIf="filteredFavoriteSets.length > 0">Sets</h3>
    <div class="mt-3" *ngFor="let set of filteredFavoriteSets">
      <app-set-cards [data]="set"></app-set-cards>
    </div>
  </ng-container>

  <ng-template #noFavorites>
    <div class="no-favorites">
      <p>Você ainda não adicionou nenhum favorito. Explore e adicione seus cards e sets favoritos!</p>
    </div>
  </ng-template>
</div>
