.no-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2em;
  color: #555;
  text-align: center;

  p {
    text-align: center;
    margin: 0;
  }
}
