
.card {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  overflow: hidden;

  background-color: var(--card-background);
  color: var(--card-text);
  border: 1px solid var(--card-border);
  border-radius: 8px;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    display: flex;
    flex-direction: column;

    @media (max-width: 950px) {
      flex-direction: row;
    }
  }

  .card-img {
    width: 100%;
    max-width: 150px;
    max-height: 216px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;

    @media (min-width: 768px) {
      border-radius: 8px 0 0 8px;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    flex: 1;

    .d-flex {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .types {
      display: flex;
      gap: 10px;

      span {
        background-color: #f0f0f0;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 14px;
      }
    }

    .card-description {
      font-size: 11px;
      text-align: justify;
      white-space: normal;
      overflow: hidden;
    }

    .hp-text {
      font-size: 10px;
      font-weight: 600;
      margin-right: 5px;
    }

    h5.card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }
}
