.card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--card-background);
  color: var(--card-text);
  border: 1px solid var(--card-border);
  border-radius: 8px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }

  .card-image {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      max-width: 200px;
      width: 100%;
      border-radius: 8px;
    }
  }

  .card-info {
    flex: 2;
    margin-top: 20px;
    @media (min-width: 768px) {
      margin-left: 20px;
      margin-top: 0;
    }

    h2 {
      margin-top: 0;
    }

    .types {
      display: flex;
      gap: 10px;

      span {
        background-color: #f0f0f0;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 14px;
      }
    }

    .hp-text {
      font-size: 10px;
      font-weight: 600;
      margin-right: 5px;
    }

    h2.card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }

    .card-symbol {
      width: 50px;
      height: auto;
      object-fit: contain;
    }
  }
}
