

$light-primary-color: #FF0000;
$light-secondary-color: #FFDE00;
$light-background-color: #FFFFFF;
$light-text-color: #000000;
$light-input-background-color: #F0F0F0;
$light-input-text-color: #000000;
$light-button-background-color: #FF0000;
$light-button-text-color: #FFFFFF;

// Definição das variáveis de tema escuro
$dark-primary-color: #8B0000; 
$dark-secondary-color: #FFD700; 
$dark-background-color: #121212;
$dark-text-color: #FFFFFF;
$dark-input-background-color: #333333;
$dark-input-text-color: #FFFFFF;
$dark-button-background-color: #8B0000;
$dark-button-text-color: #FFFFFF;

// Aplicação das variáveis CSS para temas claros
body.light-theme {
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --input-background-color: #{$light-input-background-color};
  --input-text-color: #{$light-input-text-color};
  --button-background-color: #{$light-button-background-color};
  --button-text-color: #{$light-button-text-color};
}

// Aplicação das variáveis CSS para temas escuros
body.dark-theme {
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
  --input-background-color: #{$dark-input-background-color};
  --input-text-color: #{$dark-input-text-color};
  --button-background-color: #{$dark-button-background-color};
  --button-text-color: #{$dark-button-text-color};
}

// Aplicação das variáveis CSS para temas do sistema
body.system-theme {
  @media (prefers-color-scheme: dark) {
    --primary-color: #{$dark-primary-color};
    --secondary-color: #{$dark-secondary-color};
    --background-color: #{$dark-background-color};
    --text-color: #{$dark-text-color};
    --input-background-color: #{$dark-input-background-color};
    --input-text-color: #{$dark-input-text-color};
    --button-background-color: #{$dark-button-background-color};
    --button-text-color: #{$dark-button-text-color};
  }

  @media (prefers-color-scheme: light) {
    --primary-color: #{$light-primary-color};
    --secondary-color: #{$light-secondary-color};
    --background-color: #{$light-background-color};
    --text-color: #{$light-text-color};
    --input-background-color: #{$light-input-background-color};
    --input-text-color: #{$light-input-text-color};
    --button-background-color: #{$light-button-background-color};
    --button-text-color: #{$light-button-text-color};
  }
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

input, textarea {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}
