<div class="sidebar" [ngClass]="currentTheme === 'dark' ? 'shadow-light' : 'shadow-dark'">
  <div class="background"></div>
  <div class="sidebar-header">
    <img class="w-100 h-100" src="../../../../assets/logo.png" alt="pokemon logo">
  </div>

  <div *ngFor="let item of items">
    <button [ngClass]="{
        'button-dark': item.label === selectedButton,
        'button-light': item.label !== selectedButton
      }" class="w-100 gap-3 rounded-2 {{ item.label }}" (click)="selectButton(item.label)">
      <lucide-icon [size]="18" [name]="item.icon"></lucide-icon>
      <span>{{ item.label }}</span>
    </button>
  </div>
</div>