<section class="account-page">
  <div class="container">
    <p-card header="{{user.firstName}} {{user.lastName}}" subheader="{{user.jobTitle}}">
      <div class="user-info">

        <div class="user-details">
          <div class="content-group">
            <h3>E-mail:</h3>
            <a [attr.href]="'mailto:' + user.email">
              <p>{{ user.email }}</p>
            </a>
          </div>

          <div class="content-group">
            <h3>Sobre:</h3>
            <div [innerHTML]="safeAboutContent"></div>
          </div>

          <div class="d-flex align-items-center">
            <p-avatar
            image="https://avatars.githubusercontent.com/u/70902978?v=4"
              shape="circle"
              size="xlarge"
            ></p-avatar>
            <a href="https://www.linkedin.com/in/pedro-tomilhero-2696981b5/" target="_blank" rel="noopener noreferrer">
              <button pButton type="button" label="LinkedIn" icon="pi pi-linkedin" class="p-button-outlined p-button-primary"></button>
            </a>
          </div>

        </div>
      </div>
    </p-card>
  </div>
</section>
